.task-wrapper{
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: white;
}

.task-item {
    background-color: tomato;
    color: white;
    padding: 10px;
}

.container {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    background-color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.scrollContainer {
    flex: 1;
    marginBottom: 100

}